<section class="new-voucher-wrapper hero has-background-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">

          <h2 class="has-text-weight-bold">Edit your profile</h2>
          <hr>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>



            <div class="field">
              <label class="label is-size-5 is-size-6-touch"><%= f.label :email, "Email" %></label>
              <div class="control">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <label class="label is-size-5 is-size-6-touch"><%= f.label :password, "Password" %></label>
              <small>(leave blank if you don't want to change it)</small>
              <div class="control">
                <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>
            </div>

            <div class="field">
              <label class="label is-size-5 is-size-6-touch"><%= f.label :password_confirmation, "Password confirmation" %></label>
              <div class="control">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
              </div>
            </div>

            <div class="field">
              <label class="label is-size-5 is-size-6-touch"><%= f.label :current_password, "Current password" %></label>
              <small>(we need your current password to confirm your changes)</small>
              <div class="control">
                <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
              </div>
            </div>

            <div class="control">
              <input type="submit" name="commit" value="Update" data-disable-with="Updating...", class="button is-danger is-medium has-text-weight-bold is-inverted">
            </div>
            <hr>
          <% end %>

          <h3 class="has-text-weight-bold">Cancel my account</h3>
          <p class="has-text-weight-bold"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger is-medium has-text-weight-bold" %></p>

        </div>
      </div>
    </div>
  </div>
</section>
