<div class="voucher-wrapper" style="background-image: url('/assets/designs/templates/one.png')" id="<%=@voucher.design.template%>">
  <% if @voucher.heading.present? %>
    <p class="heading"><stong><%=@voucher.heading%></stong></p>
  <% end %>

  <% if @voucher.sub_heading.present? %>
    <p class="sub-heading"><stong><%=@voucher.sub_heading.truncate(80)%></stong></p>
  <% end %>

  <% if @voucher.for.present? %>
    <p class="for"><%= @voucher.for %></p>
  <% end %>

  <% if @voucher.code.present? %>
    <p class="code"><%= @voucher.code %></p>
  <% end %>

  <% if @voucher.valid_until.present? %>
    <p class="valid-until"><%= (@voucher.valid_until).strftime("#{@voucher.valid_until.day}.%m.%y") %></p>
  <% end %>

  <% if @voucher.value.present? %>
    <p class="value"><%= @voucher.discount_type unless @voucher.discount_type == "%"%><%= sprintf("%g", @voucher.value)%><%= @voucher.discount_type if @voucher.discount_type == "%"%></p>
  <% end %>

  <% if @voucher.service.present? %>
    <p class="service">OFF <%= @voucher.service.upcase%></p>
  <% end %>
</div>
