
<script>
  // @see https://docs.headwayapp.co/widget for more configuration options.
  var HW_config = {
    selector: ".changelog", // CSS selector where to inject the badge
    account:  "7z8Eky"
  }
</script>
<script async src="https://cdn.headwayapp.co/widget.js"></script>


<div class="landing-wrapper">
  <section class="hero has-background-white">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-two-thirds has-text-centered">
            <%#= image_tag ("logo.png"), class: "logo" %>
            <h1 class="title patrick has-text-black" id="landing">Gift Vouchers as a service</h1>
            <h2 class="subtitle has-text-grey-dark has-text-weight-bold" id="landing">Add gift vouchers to your app or website in minutes</h2>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <% if current_user.present?%>
              <%= link_to "Try it out", designs_path, :class => 'button is-danger is-large has-text-weight-bold cta' %>
            <% else %>
              <%= link_to "Try it out", new_user_registration_path, :class => 'button is-danger is-large has-text-weight-bold cta' %>
            <% end %>
            <!-- <p class="subtitle patrick has-text-white">or <a href="#more" class="has-text-white"><u>find out more</u></a></p> -->
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half has-text-centered">
            <br>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="feature-wrapper" id="more">
    <div class="container">
      <div class="columns is-centered">
        <div class="column has-text-centered feature"><%= image_tag ("landing/gift-card-2.png"), class: "gift-card" %></div>
        <div class="column has-text-centered feature"><%= image_tag ("landing/gift-card-2.png"), class: "gift-card" %></div>
        <div class="column has-text-centered feature"><%= image_tag ("landing/gift-card-2.png"), class: "gift-card" %></div>
      </div>
    </div>
  </section>
</div>
