
<script>
  // @see https://docs.headwayapp.co/widget for more configuration options.
  var HW_config = {
    selector: ".changelog", // CSS selector where to inject the badge
    account:  "7z8Eky"
  }
</script>
<script async src="https://cdn.headwayapp.co/widget.js"></script>


<div class="landing-wrapper">
  <section class="hero has-background-white">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-full has-text-centered">
            <%#= image_tag ("logo.png"), class: "logo" %>
            <h1 class="title patrick has-text-black" id="landing">Create your own Gift Voucher</h1>
            <h2 class="subtitle has-text-grey-dark has-text-weight-bold" id="landing">Choose from a selection of presionally designed templates and customise them <br> to make your own unique gift in seconds 🎁</h2>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <% if current_user.present?%>
              <%= link_to "Try it out", designs_path, :class => 'button is-danger is-large has-text-weight-bold cta' %>
            <% else %>
              <%= link_to "Try it out", new_user_registration_path, :class => 'button is-danger is-large has-text-weight-bold cta' %>
            <% end %>
            <!-- <p class="subtitle patrick has-text-white">or <a href="#more" class="has-text-white"><u>find out more</u></a></p> -->
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half has-text-centered">
            <br>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="feature-wrapper" id="more">
    <div class="container">
      <div class="columns is-centered">
        <div class="column has-text-centered feature">
          <div class="content">
            <%= image_tag ("landing/gift-card-2.png"), class: "gift-card" %>
            <h2 class="is-marginless has-text-weight-bold">Beautiful templates</h2>
            <br>
            <p>Pick from a selection of profesionally designed vouchers or get in touch and we'll design one especially for your business</p>
          </div>
        </div>
        <div class="column has-text-centered feature">
          <div class="content">
            <%= image_tag ("landing/gift-card-2.png"), class: "gift-card" %>
            <h2 class="is-marginless has-text-weight-bold">Download & Schedule</h2>
            <br>
            <p>Choose to download your voucher or schedule it to be sent with a custom date and message, we'll do the rest!</p>
          </div>
        </div>
        <div class="column has-text-centered feature">
          <div class="content">
            <%= image_tag ("landing/gift-card-2.png"), class: "gift-card" %>
            <h2 class="is-marginless has-text-weight-bold">Fast, efficient API</h2>
            <br>
            <p>Further info...</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
