<!DOCTYPE html>
<html>
  <head>


    <title>Gifti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Verification -->
    <meta name="google-site-verification" content="uEBDpMQ5bA4q5y6RxEpxObsSVxZTnRaE8RKYtmI0jWw" />

    <!-- Google Analytics-->
    <%= render 'layouts/shared/ga' %>

    <!-- Font Awesome 5 -->
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

  </head>

  <body class="site">
    <%= render 'layouts/shared/header' %>
    <%= custom_flash %>
    <%= yield %>
    <%= render 'layouts/shared/footer' %>
  </body>
</html>
