<!DOCTYPE html>
<html>
  <head>
    <title>Gifti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Font Awesome 5 -->
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="site">
    <%= render 'layouts/shared/header' %>
    <%= custom_flash %>
    <%= yield %>
  </body>
</html>
