
  <%= form_with(model: voucher, local: true, id: "new_voucher") do |form| %>
    <div class="columns is-variable is-1">

      <%= form.hidden_field :design_id, value: @design.id %>

      <div class="column">
        <div class="field">
          <label class="label is-size-5 is-size-6-touch has-text-white"><%= form.label :heading, "Heading" %></label>
          <div class="control">
            <%= form.text_field :heading, class: "input", placeholder: "Gifti Voucher" %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label is-size-5 is-size-6-touch has-text-white"><%= form.label :sub_heading, "Sub Heading" %></label>
          <div class="control">
            <%= form.text_field :sub_heading, class: "input", placeholder: "The most unique gift on the planet" %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-variable is-1">
      <div class="column">
        <div class="field">
          <div class="control">
            <label class="label is-size-5 is-size-6-touch has-text-white"><%= form.label :for, "For" %></label>
            <%= form.text_field :for, class: "input", placeholder: "Jane Doe" %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label is-size-5 is-size-6-touch has-text-white"><%= form.label :valid_until, "Valid Until" %></label>
          <div class="control">
            <%= form.text_field :valid_until, class: "input", placeholder: "Enter a date"%>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-variable is-1">
      <div class="column is-narrow">
        <label class="label is-size-5 is-size-6-touch has-text-white"><%= form.label :value, "Value*" %></label>
        <div class="field has-addons">
          <div class="control">
            <%= form.number_field :value, class: "input", placeholder: "100" %>
          </div>
          <div class="control">
            <div class="select">
              <%= form.select :discount_type, options_for_select(["%", "$", "£"]) %>
            </div>
          </div>
        </div>
      </div>
      <div class="column ">
        <div class="field">
          <label class="label is-size-5 is-size-6-touch has-text-white"><%= form.label :code, "Code" %></label>
          <div class="control">
            <%= form.text_field :code, class: "input", placeholder: "UX100" %>
          </div>
        </div>
      </div>

    </div>


    <div class="columns is-variable is-1">
      <div class="column">
        <div class="field">
          <label class="label is-size-5 is-size-6-touch has-text-white"><%= form.label :service, "Service*" %></label>
          <div class="control">
            <%= form.text_field :service, class: "input", placeholder: "Service*, i.e. where the discont applies" %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-variable is-1">
      <div class="column">
        <div class="control">
          <input type="submit" name="commit" value="Generate Voucher" data-disable-with="Generating", class="button is-danger is-medium has-text-weight-bold  is-inverted">
          <p class="help is-white has-text-weight-bold">*Required fields</p>
        </div>
      </div>
    </div>

    <% if voucher.errors.any? %>
      <div class="columns is-variable is-1">
        <div class="column">
          <div id="error_explanation" class="has-text-weight-bold has-text-white">
            <h2 class="has-text-weight-bold"><%= pluralize(voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>
            <ul>
            <% voucher.errors.full_messages.each do |message| %>
              <li>- <%= message %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>

  <script type="text/javascript">
    $('#voucher_heading').keyup(function () {
      var value = $(this).val();
      $('#heading').text( value );
    });
    $('#voucher_sub_heading').keyup(function () {
      var value = $(this).val();
      $('#sub-heading').text( value );
    });
    $('#voucher_for').keyup(function () {
      var value = $(this).val();
      $('#for').text( value );
    });
    $('#voucher_valid_until').keyup(function() {
      var value = $(this).val();
      $('#valid-until').text( value );
    });
    $('#voucher_value').keyup(function () {
      var value = $(this).val();
      $('#value').text( value );
    });
    $('#voucher_code').keyup(function () {
      var value = $(this).val();
      $('#code').text( value );
    });
    $('#voucher_service').keyup(function () {
      var value = $(this).val();
      $('#service').text( value );
    });
  </script>
