<%= stylesheet_link_tag "designs/templates/#{@design.template}" %>

<section class="new-voucher-wrapper hero has-background-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title patrick has-text-white">Now let's customise it!</h1>
          <p class="subtitle  has-text-white">We've filled out some sample data for you to edit. Once you're done, click 'Generate' and either download or schedule it for delivery 😊</p><p class=""> <%#= link_to "Clear Form", {design: params[:design], blank: true}, class: "" %></p>
        </div>
      </div>

      <div class="columns is-centered reverse-row-order">
        <div class="column">
          <br>
          <div class="new-voucher-render"><%= render "/designs/templates/#{@design.template}" %></div>
        </div>
        <div class="column">
          <%= render 'form', voucher: @voucher %>
        </div>
      </div>

    </div>
  </div>
</section>


<script type="text/javascript">
  $(".voucher-wrapper#<%= @design.template %>").css("font-size", ($(".voucher-wrapper#<%= @design.template %>").width())*(1/100));

  $(window).resize(function(){
    $(".voucher-wrapper#<%= @design.template %>").css("font-size", ($(".voucher-wrapper#<%= @design.template %>").width())*(1/100));
  c});
</script>
